### Practice

In [109]:
import csv
import numpy as np
import pandas as pd
from pandas import read_csv
import matplotlib.pyplot as plt

In [110]:
f = open('diabetes.csv', 'r')
file = csv.reader(f, delimiter = ',')

In [111]:
x = list(file)
y = np.array(x)
y

array([['Pregnancies', 'Glucose', 'BloodPressure', ...,
        'DiabetesPedigreeFunction', 'Age', 'Outcome'],
       ['6', '148', '72', ..., '0.627', '50', '1'],
       ['1', '85', '66', ..., '0.351', '31', '0'],
       ...,
       ['5', '121', '72', ..., '0.245', '30', '0'],
       ['1', '126', '60', ..., '0.349', '47', '1'],
       ['1', '93', '70', ..., '0.315', '23', '0']], dtype='<U24')

In [112]:
df =pd.DataFrame(y)
df.columns = df.iloc[0]
df = df[1:]

In [113]:
df.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,6,148,72,35,0,33.6,0.627,50,1
2,1,85,66,29,0,26.6,0.351,31,0
3,8,183,64,0,0,23.3,0.672,32,1
4,1,89,66,23,94,28.1,0.167,21,0
5,0,137,40,35,168,43.1,2.288,33,1
6,5,116,74,0,0,25.6,0.201,30,0
7,3,78,50,32,88,31,0.248,26,1
8,10,115,0,0,0,35.3,0.134,29,0
9,2,197,70,45,543,30.5,0.158,53,1
10,8,125,96,0,0,0,0.232,54,1

In [114]:
df.index

RangeIndex(start=1, stop=769, step=1)

In [115]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object', name=0)

In [116]:
df.dtypes

0
Pregnancies                 object
Glucose                     object
BloodPressure               object
SkinThickness               object
Insulin                     object
BMI                         object
DiabetesPedigreeFunction    object
Age                         object
Outcome                     object
dtype: object

In [117]:
df.shape

(768, 9)

In [118]:
df.values

array([['6', '148', '72', ..., '0.627', '50', '1'],
       ['1', '85', '66', ..., '0.351', '31', '0'],
       ['8', '183', '64', ..., '0.672', '32', '1'],
       ...,
       ['5', '121', '72', ..., '0.245', '30', '0'],
       ['1', '126', '60', ..., '0.349', '47', '1'],
       ['1', '93', '70', ..., '0.315', '23', '0']], dtype=object)

In [119]:
df.sort_vlaues(by = 'BMI')

AttributeError: 'DataFrame' object has no attribute 'sort_vlaues'